* {
  font-family: "IBM Plex Mono", monospace;
}

.separator {
  margin: 1px 10px;
  font-weight: bold;
}

//
.btn-workspace {
  margin: 0 8px;
}

.workspaces-container {
  margin: 0px;
}


$base: #000000;
$disable-color: #4C4949;
$text-base-color: #ffffff;
$default-board: 1px solid #fff;
$font-semi-bold: 600;


window.menu {
  .programs {
    width: 100%;
    margin-bottom: 1rem;

    entry {

      all: unset;
      padding: 0.4rem;
      border: 2px solid $disable-color;
      margin-bottom: 1rem;
    }

    .button-program {

      font-size: 1.0rem;
      margin-bottom: 0.6rem;
      color: $disable-color;
      border: 1px solid $disable-color;
      padding: 0.4rem;

    }

  }

  .btn-system {
    border: 1px solid $disable-color;
    color: $disable-color;
    padding: 0.6rem;

    font-size: 1.4rem;
    font-weight: $font-semi-bold;
  }



  .btn-system-selected {
    border: $default-board;
    padding: 0.6rem;
    font-size: 1.4rem;
    font-weight: $font-semi-bold;
  }

  .cat-not-selected-color {
    color: #4C4949;
  }

  .container-categories {
    margin-bottom: 1.2rem;
  }

  .btn-cat {
    font-size: 1.8rem;
    font-weight: $font-semi-bold;
    margin-bottom: 0.6rem;
  }

  .btn-sub-cat {
    font-size: 1.0rem;
    font-weight: $font-semi-bold ;
    margin-bottom: 0.4rem;
  }

  color: $text-base-color;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  background: $base;
  border-right: $default-board;

  button {

    all: unset;
  }
}

window.bar {
  background: $base;
  padding: 0.2rem;
  border-top: $default-board;
  font-size: 0.9rem;

  button {

    all: unset;
  }

  .bar-left {
    button {
      all: unset;
    }

    .mpris {
      margin-left: 10px;

    }
  }

  .bar-right {
    button {
      all: unset;
    }

    .info-container {
      margin-right: 8px;
    }

    .info {
      font-weight: bold;
    }
  }

  centerbox {
    border-radius: 10px;
  }
}
