window.bar {
  background: #000000;
  // color: $fg-color;
  padding: 3px 8px;

  border-top: 1px #fff solid;

  .bar-left {
    button {
      all: unset;

    }

  }

  centerbox {
    border-radius: 10px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}
